# auth <proto> <hex-key>
  auth MIT-MAGIC-COOKIE-1 56f8e62b78e58962de0ceefc05ad90b0

# namespace <name>
namespace xeyes
  auth MIT-MAGIC-COOKIE-1 46f8e62b78e58962de0ceefc05ad90a8
# allow <perm> ...
  allow mouse-motion
  allow shape
  allow xinput xkeyboard
# client <prog> ...
  client xeyes

namespace xterm
  auth MIT-MAGIC-COOKIE-1 46f8e62b78e58962de0ceefc05ad93b7
# (optional) superpower
  superpower
  client xterm uxterm
# default <namespace>
default anon
